        body {
            background-color: #0000;
            color: blue;
            font-family: monospace, serif;
            letter-spacing: 0.05em;
        }
        
        h1 {
            font-size: 23px;
        }
        
        .form {
            width: 300px;
            padding: 64px 15px 24px;
            margin: 0 auto;
            color: red;
        }
        
        input[type=submit] {
            color: blue;
            font-family: monospace, serif;
            letter-spacing: 0.02em;
        }
        
        img {
            size: 150px;
            padding: 10px;
            margin: 5px;
        }